<section>

    <h1>
        Panel Administrador
    </h1>

    <button id="logout-btn">
        Cerrar sesión
    </button>

    <hr>

    <h2>
        Crear Ticket
    </h2>

    <form id="ticket-form">

        <input
            type="text"
            id="ticket-name"
            placeholder="Nombre ticket"
            required
        >

        <select id="ticket-type" required>

            <option value="">
                Seleccione un tipo
            </option>

            <option value="incidente">
                Incidente
            </option>

            <option value="requerimiento">
                Requerimiento
            </option>

            <option value="soporte">
                Soporte
            </option>

        </select>

        <label>
            Técnico asignado
        </label>

        <select id="technician-select">
            <option value="">
                Seleccione técnico
            </option>
        </select>

        <label>
            Estado
        </label>

        <select id="status-select">
            <option value="pendiente">
                Pendiente
            </option>
        </select>

        <label>
            Cliente
        </label>

        <select id="client-select">
            <option value="">
                Seleccione cliente
            </option>

        </select>

        <textarea
            id="ticket-description"
            placeholder="Descripción"
            required
        ></textarea>

        <button type="submit">
            Guardar Ticket
        </button>

    </form>

    <hr>

    <h2>
        Lista de Tickets
    </h2>

    <div id="tickets-container">

    </div>

</section>