<section>
  <h1>Registro de Cliente</h1>

  <form id="register-form">
    <input
      id="register-name"
      type="text"
      placeholder="Nombre"
      required
    >

    <input
      id="register-email"
      type="email"
      placeholder="Email"
      required
    >

    <input
      id="register-password"
      type="password"
      placeholder="Password"
      required
    >

    <button type="submit">
      Registrarme
    </button>
  </form>

  <p id="register-message"></p>

  <button id="go-login-btn" type="button">
    Volver al login
  </button>
</section>
